@page "/FluxorIntegration"
@attribute [BzMenuItem(Name = "Fluxor Integration", Icon = "bi-list-nested-nav-menu", Sorting = 100)]

<h3>Fluxor Integration</h3>

<FluxorCounterStateButtons/>
<br/>
<FluxorCounterStateDisplay/>
<br/>
<FluxorActionSubscriber/>

@code {

}