@page "/BzObjectInspector"

<PageTitle>BzObjectInspector</PageTitle>

<h3>BzObjectInspector</h3>

<p>This page showcases the BzObjectInspector component in the Playground app.</p>

<BzObjectInspectorUsage />
