@page "/IsInitializedDemo"

<h3>IsInitialized Demo Page</h3>

<h5>No delay</h5>
<IsInitializedUsage OnInitializedAsyncDelay="0" OnParametersSetAsyncDelay="0"/>

<br/>
<h5>3s in OnInitializedAsync</h5>
<IsInitializedUsage OnInitializedAsyncDelay="3000" OnParametersSetAsyncDelay="0"/>

<br/>
<h5>4s in OnParametersSetAsync</h5>
<IsInitializedUsage OnInitializedAsyncDelay="0" OnParametersSetAsyncDelay="4000"/>

<br/>
<h5>3s in OnInitializedAsync+OnParametersSetAsync</h5>
<IsInitializedUsage OnInitializedAsyncDelay="3000" OnParametersSetAsyncDelay="3000"/>

@code {

}