@inherits BlazingDev.BlazorToolkit.Components.BzComponentBase

@if (ShowControls)
{
    <div class="bz-timer-component-controls"
         style="display: inline-flex; flex-direction: row; align-items: center; border: 2px solid firebrick; background-color: yellow; padding: 0 5px; gap: 5px; border-radius: 5px;">
        <span>@Name</span>
        <span><input type="number" @bind="Interval" style="width: 100px">ms</span>
        <button disabled="@_timer.Enabled" @onclick="() => _timer.Enabled = true">Start</button>
        <button disabled="@(!_timer.Enabled)" @onclick="() => _timer.Enabled = false">Stop</button>
    </div>
}
